:root{
    --accent-color:#2196F3;
    --white-color:#FFFFFF;
    --btn-color:#188CE8;
    --main-font:#212121;
    --secondary-font: #757575;
    --adr-color: rgba(255, 255, 255, 0.6);
    --bgc-color: #FFFFFF;
    --logo-black-color:#000000;
    --secondary-bgc-color: #2F303A;
    --third-bgc-color: #F5F4FA;
}
body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--main-font);
    background-color: var(--bgc-color);
}
.link{
    text-decoration:none;
}
.list{
    list-style: none;
    font-style: normal;
}
/* ======LOGO=======*/
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    color: var(--logo-black-color);
}
.logo-web{
    color: var(--accent-color);
}
/* ========HEADER======== */
.menu-link,
.contact-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
}
.contact-link {
    color: var(--secondary-font);
}
.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus,
.address-item:focus,
.address-item:hover {
    color: var(--accent-color);
}
.menu-link.active{
    color:var(--accent-color);
}
/* ========SECTION======= */
.modal-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus{
    background-color: var(--btn-color);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero,
.page-footer{
    background-color: var(--secondary-bgc-color);
}
.subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}   
.description{
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-font);
}
.feature-subtitle {
    color: transparent;
}
.feature-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.team,
.portfolio-btn{
    background-color: var(--third-bgc-color);
}
.team-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
/* ============FOOTER========= */
.address-item{
    color: var(--adr-color);
}
.white-theme{
    color: var(--white-color);
}
/* ============/FOOTER======== */
/* ======PORTFOLIO======= */
.portfolio-main-title{
    color:transparent;
}
.portfolio-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: inherit;
    color: inherit;
    cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus{
    background-color: var(--accent-color);
    color: var(--white-color);
}
.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-font);
}
.portfolio-description{
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-font);
}